includes:
    - vendor/symplify/phpstan-rules/config/static-rules.neon

parameters:
    level: 6
    phpVersion: 80200
    tmpDir: var/cache/phpstan
    paths:
        - src
        - tests

    type_coverage:
        return_type: 99
        param_type: 98
        property_type: 55

    bootstrapFiles:
        - tests/bootstrap.php

    symfony:
            constantHassers: false
            containerXmlPath: 'var/cache/dev/Swag_Braintree_KernelDevDebugContainer.xml'

    ignoreErrors:
            # TestException
            -
                message: '#Multiple class/interface/trait is not allowed in single file#'
                path: tests/unit

rules:
    # rules from https://github.com/symplify/phpstan-rules
    # domain
    - Symplify\PHPStanRules\Rules\Enum\RequireUniqueEnumConstantRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

    # explicit naming
    - Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule

    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule

    # complexity rules
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule

    # naming rules
    - Symplify\PHPStanRules\Rules\UppercaseConstantRule
    - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule
