<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Braintree</title>

    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_script_tags('admin') }}
</head>
<body>
    <div id="app">
        <sw-braintree-app-page-controller/>
    </div>
</body>
</html>
