.swag-braintree-hosted-fields {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;

    &__group {
        display: flex;
        flex-direction: row;
        gap: 8px;

        * {
            width: 100%;
        }
    }

    .braintree-hosted-fields-focused {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;

        &.is-invalid {
            border-color: $form-feedback-invalid-color;
        }
    }

    .form-control {
        height: ($input-line-height + 2 * $input-padding-y);
    }

    &__no-merchant-id {
        color: $red-500;
    }
}
